.utf_carousel_item{
  padding: 1%;
}
/* .gridimg{
  width: 100%;
} */
abbr{
  text-decoration: none;
  border-bottom: none !important;
}

.utf_sticky_main_wrapper{
  text-align: justify;
}

.highlightOption {
  background-color: #ff2222;
  color: white;
}

.listing_summary, .category_box {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}


input[type = "radio"]{
  accent-color: #ff2222;
}

#sticky_sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
}

.sidebar_cats,.pagination li{
  cursor: pointer;
}

#rest{
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.captcha_box{
  display: inline-flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.image_holder{
  width: 100%;
  display: block;
  height: 400px;
}